* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #404040;
  line-height: 1.4;
  font-size: 1.6rem;
  background-color: #0f172a;
}

.cabecalho {
  background-color: #131b2e;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.container-logo {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.container-logo-texto {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #bec6e0;
}

header {
  position: sticky;
  top: 0;
  z-index: 99999;
}
nav ul {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  gap: 2.1rem;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 1rem;
}

.botao {
  background-color: #38f577;
  align-items: center;
  padding: 0.85rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 1rem;
  font-size: x-small;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: #bec6e0;
  font-weight: bold;
  font-size: 1.6rem;
}

ul li a:hover {
  color: #38f577;
  text-decoration: underline;
  transform: scale(1.1);
}

ul li a:visited {
  color: #38f577;
  text-decoration: underline;
  transform: scale(1.1);
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

/* cabecalho */

.badge {
  background-color: #00668a;
  border: 2px solid #009bd1;
  display: inline-block;
  color: #009bd1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.4rem;
}

.tags {
  background-color: #21504ab9;
  border: 2px solid #4edea3;
  display: inline-block;
  color: #009bd1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  background-blend-mode: multiply;
}

h1 {
  color: #bec6e0;
  font-size: 3.2rem;
}

h2 {
  color: #bec6e0;
  font-size: 2.4rem;
  padding: 0.85rem;
}

h3 {
  color: #bec6e0;
}
.realce-h1 {
  color: #38f577;
}

p {
  color: #bec6e0;
}

.secao {
  padding: 6.78rem;
  /* max-width: 100rem; */
}
/* sessao hero */

.container-hero {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  gap: 2rem;
}

.box-hero {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  align-items: flex-start;
  flex: 1;
}

.efeito-hero {
  content: "";
  width: 30rem;
  height: 30rem;
  background-color: #0f1829;
  border-radius: 0.5rem;
  border: 2px solid #22f38b;
  box-shadow: 0px 0px 2px rgb(169 168 168 / 50%);
}

.box-botoes {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}
.metodologia {
  background-color: #0f172a;
  border: 2px solid #009bd1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #009bd1;
}

.botao a {
  color: #0f172a;
  text-decoration: none;
}

.metodologia a {
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #009bd1;
  text-decoration: none;
  cursor: pointer;
}
/* sessao banner */

.secao-banner {
  background-color: #283044;
}

.container-banner {
  display: flex;
  justify-content: space-between;
}

/* experiencias xp */

.container-blocos-xp {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.caixa-xp {
  background-color: #131b2e;
  box-shadow: 0px 0px 2px rgb(169 168 168 / 50%);
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 3rem;
  flex: 1; /* Faz o card crescer junto com os outros irmãos no layout */
}

.caixa-xp-logo {
  background-color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  box-shadow: 0px 0px 2px rgb(169 168 168 / 50%);
  border-radius: 0.5rem;
}

.caixa-xp p {
  hyphens: auto;
  -webkit-hyphens: auto;
  word-break: normal;
}

.caixa-xp-logo svg {
  width: 3rem;
  background-color: #0f172a;
  fill: #22f38b;
  fill-opacity: 1;
  stroke-width: 0.476881;
}

.tag-xp {
  color: #bec6e0;
  font-size: 1.1rem;
  font-weight: semi-bold;
}

.bloco-box-xp {
  display: flex;
  gap: 2rem;
  flex-flow: row wrap; /* Permite quebrar linha em telas menores */
  justify-content: flex-start;
}

.blocos-xp {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 2rem;
}

.bloco-xp-titulo {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 2rem;
}

.bloco-xp-descricao {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.remove-quebra {
  white-space: nowrap;
  text-transform: uppercase;
}

/* sessão projetos*/

.container-projetos {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.projetos-titulo {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
}

.agrupa-tags {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
}
.blocos-box-projetos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2.5rem;
}

.box-projetos {
  background-color: #131b2e;
  box-shadow: 0px 0px 2px rgb(169 168 168 / 50%);
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column;
  width: 48%;
  position: relative;
  gap: 0.85rem;
}

.secao-projetos {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.projeto-img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
.badge-projetos {
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.subtitulo-projeto {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

/* sessão workflow */
.metodologia-container {
  display: flex; /* Ativa o Flexbox */
  justify-content: space-between; /* Distribui os itens igualmente de ponta a ponta */
  align-items: center; /* Alinha todos verticalmente no centro */
  position: relative;
  padding: 2rem;
}

/* Opcional: Para fazer a linha fina conectando os passos atrás deles */
.metodologia-container::before {
  content: "";
  position: absolute;
  top: 35%; /* Ajuste para ficar exatamente atrás dos quadradinhos com números */
  left: 5%;
  right: 10%;
  height: 1px;
  background-color: #333; /* Cor da linha */
  z-index: 1; /* Garante que a linha fique atrás dos números */
}

.passos {
  display: flex;
  flex-direction: column; /* Faz o número, título e texto ficarem um embaixo do outro */
  align-items: center; /* Centraliza o texto de cada bloco */
  text-align: center;
  z-index: 2; /* Garante que o bloco fique acima da linha conectora */
}

/* Estilização básica dos quadradinhos com números */
.number {
  width: 4rem;
  height: 4rem;
  border: 0.2rem solid #00ffcc; /* Borda verde/azul fluorescente */
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #00ffcc;
  margin-bottom: 15px;
}

.container-metodologia {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.metodologia-titulo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* footer */

.rodape {
  display: flex;
  flex-flow: row;
  background-color: #131b2e;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

.redes-sociais {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.redes-sociais a {
  text-decoration: none;
}
.redes-sociais a:link {
  color: #bec6e0;
}
.redes-sociais a:hover,
.redes-sociais a:visited {
  color: #38f577;
  text-decoration: underline;
  transform: scale(1.05);
}
